<footer class="bg-dark text-light text-center py-4 mt-5">
    <div class="container">
        <p class="mb-4">Endereço do evento: Rua dos ferroviarios, nº 162, São João do Cabrito (final de linha)</p>
        <div class="row justify-content-center mb-4">
            <div class="col-auto">
                <span ></span> Contatos: 71 99642 - 8484
            </div>
            <div class="col-auto">
                71 99294 - 7792
            </div>
        </div>
        <a class="btn btn-secondary btn-sm text-uppercase rounded-0"
            onclick="solicitarUber()" role="button">Solicitar Uber
        </a>
        <a class="btn btn-secondary btn-sm text-uppercase rounded-0" 
            target="_blank" href="https://maps.app.goo.gl/3heyr2gCChi6J5188" 
            role="button">Localização
        </a>
    </div>
</footer>