<footer class="bg-dark text-light text-center py-4 mt-5">
    <div class="container">
        <p class="mb-2">Contato:</p>
        <p class="mb-4">Endereço: Rua dos ferroviários, 53</p>
        <a class="btn btn-secondary btn-sm text-uppercase rounded-0" 
            target="_blank"
            href="https://m.uber.com/ul/?action=setPickup&client_id=2RwkURDYvP_NVr18pITsjQ_bKNrvrv6w&pickup=my_location&dropoff[formatted_address]=Rua%20das%20Ursulinas%2C%2026%20-%20Dom%20Avelar%2C%20Salvador%20-%20BA%2C%20Brasil&dropoff[latitude]=-12.902293&dropoff[longitude]=-38.445968" 
            role="button">Solicitar Uber
        </a>
        <a class="btn btn-secondary btn-sm text-uppercase rounded-0" 
            target="_blank"
            href="https://www.google.com.br/maps/place/R.+dos+Ferrovi%C3%A1rios,+53+-+S%C3%A3o+Jo%C3%A3o+do+Cabrito,+Salvador+-+BA,+40490-208/@-12.9034114,-38.4858154,21z/data=!4m5!3m4!1s0x7160fd861356e87:0x13b3ad3b2bc8d650!8m2!3d-12.9035438!4d-38.4859557?entry=ttu&g_ep=EgoyMDI0MTAyOS4wIKXMDSoASAFQAw%3D%3D" 
            role="button">Localização
        </a>
    </div>
</footer>